.row {
    padding: 20px;
    overflow-x: hidden; 
}

h1, h2{
    font-weight: bold;
    position: relative;
    width: 43ch;
    font-weight: bold;
    animation: type 5s steps(43), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes type {
    0% {
      width: 0;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
#profesion, #nombre {
    text-align: right;
    font-family: 'Fira Mono', monospace;
}
.about {
    text-align: left;
    
}

div {
    background-color: #fff7ee;  
    font-family: 'Fira Mono', monospace;
}

#nombre {
    font-weight: bold;
    margin-top: 20%;
}

#profesion {
    font-style: italic;
}

@media (min-width: 576px) {
    #profilePicture {
        position: absolute;
        width: 18%;
        border-radius: 100%;
        left: 3%;
        top: 75%
    }
}

@media (max-width: 575px) {
    #profilePicture {
        justify-content: center;
        position: absolute;
        width: 40%;
        border-radius: 100%;
        left: 33%;
        top: 60%;
    }
    #nombre {
        top:70%
    }
}

@media (min-width: 700px) {
    #profilePicture {
        position: absolute;
        width: 18%;
        border-radius: 100%;
        left: 3%;
        top: 80%;
    }
}

@media (min-width: 900px) {
    #profilePicture {
        position: absolute;
        width: 18%;
        border-radius: 100%;
        left: 3%;
        top: 50%;
    }
}


