<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ProfPicture.png" class="img-fluid" id="profilePicture" >
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="profesion">Fullstack developer jr.</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span class="about">
            <h2>Acerca de mí: </h2>
            <p>Siempre estoy aprendiendo habilidades nuevas en relación a mis intereses especiales. Actualmente estudio la Licenciatura en Artes Electrónicas (UNTREF) y desarrolllo web en el curso "#YoProgramo" de Argentina Programa y ZeroToMastery academy.</p>
        </span>
    </div>
</div>