<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
            <p>Aplicación web full stack que muestra: datos personales, estudios cursados, experiencia laboral, conocimiento de tecnologías y proyectos. Aplicación de arquitectura distribuida: diseño de interfaz para mostrar la información, una base de datos y APIs para proveer la información a través de internet. Tecnologías utilizadas: Angular + Java + MySQL.</p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/screenshot.jpg" id="imgproy" class="img-fluid" alt="">
            
        </div>

    </div>

</div>
