<h1>Hard & soft skills</h1>

<div class="row">
    <div class="d-flex justify-content-around">
        <circle-progress
        [title]="'HTML'"
        [subtitle]= "'80%'"
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#808080'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="950"
        ></circle-progress>

        <circle-progress
        [title]="'CSS'"
        [subtitle]= "'75%'"
        [percent]="75"
        [radius]="60"
        [imageSrc]="'../../../assets/css.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#00937F'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>

        <circle-progress
        [title]="'JS'"
        [subtitle]= "'75%'"
        [percent]="75"
        [radius]="60"
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#00937F'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="750"
        ></circle-progress>

        <circle-progress
        [title]="'ANGULAR'"
        [subtitle]= "'80%'"
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../../../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#808080'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    
</div>

<div class="row">
    <div class="d-flex justify-content-around">
        <circle-progress
        [title]="'Java'"
        [subtitle]= "'75%'"
        [percent]="75"
        [radius]="60"
        [imageSrc]="'../../../assets/java.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#808080'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="950"
        ></circle-progress>

        <circle-progress
        [title]="'Typescript'"
        [subtitle]= "'80%'"
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../../../assets/typescript.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#00937F'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="800"
        ></circle-progress>

        <circle-progress
        [title]="'liderazgo'"
        [subtitle]= "'95%'"
        [percent]="95"
        [radius]="60"
        [imageSrc]="'../../../assets/skill.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#00937F'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="750"
        ></circle-progress>

        <circle-progress
        [title]="'creatividad'"
        [subtitle]= "'90%'"
        [percent]="90"
        [radius]="60"
        [imageSrc]="'../../../assets/pencil.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [space]="-2"
        [outerStrokeWidth]="2"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#808080'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    
</div>